@import "../styles/variable";

.calculator{
  max-width: 1200px;
  margin: 0 auto;
  &-main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  &-display {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      margin-bottom: 20px;
    }

    input {
      outline: none;
      width: 100px;
      height: 40px;
      border: 1px solid $color-dark-light;
      border-radius: 4px;
      padding: 2px;
      text-align: center;
      font-size: 18px;
      color: $color-dark;
      letter-spacing: 1px;
    }

    &__code-block {
      //text-align: initial;
    }
  }

  @media screen and(max-width: 800px) {
    &-main {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
}

