@import '../styles/variable';

.chmod-header{
  text-align: center;
  padding: 15px;
  margin-bottom: 50px;
  h1 {
    font-size: 60px;
    color: $color-dark;

    a {
      font-size: 14px;
      color: $color-dark-light;
      text-decoration: none;

      &:visited {
        color: $color-dark-light;
      }

      &:hover {
        color: $color-dark;
      }
    }
  }
  p {
    color: $color-dark-light;
    font-size: 30px;
  }

  @media screen and(max-width: 800px) {
    & {
      margin-bottom: 0;
    }

    h1 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }
}
